.home {
  height: 100vmax;
  width: 100%;
  background-color: rgb(12, 105, 105);
  display: flex;
  color: white;
  flex-wrap: wrap;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.home > div {
  padding: 20px;
  border-left: 3px solid rgb(61, 58, 58);
}
.home > div:nth-of-type(1) {
  flex-basis: 10%;
}
.home > div:nth-of-type(2) {
  flex-basis: 60%;
  position: relative;
}

.home div:nth-of-type(2) form {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 90%;
  bottom: 10vh;
}
.home div:nth-of-type(2) form input {
  width: 80%;
  padding: 7px 15px;
  border-radius: 6px 0px 0px 6px;
  border: none;
  background-color: rgb(218, 214, 214);
}
.home form input:focus {
  outline: none;
}
.home form button {
  background-color: #1976ee;
  color: white;
  border: none;
  border-radius: 0px 6px 6px 0px;
  padding: 7px 15px;
  transition: 0.4s;
}
.home form button:hover {
  background-color: #1160c7;
}
.box {
  padding: 6px;
}
.member {
  background: rgb(1, 194, 201);
}
.msg {
  background: rgb(131, 112, 4);
}
.sender {
  background-color: green;
}
.text {
  background-color: rgb(29, 45, 95);
}
