.home {
  background-color: #323232;
  height: inherit;
  padding: 10px;
}
.home .Friend {
  width: max-content;
}

#sendTextButton {
  background-color: #1976ee;
  color: white;
  border: none;
  border-radius: 0px 6px 6px 0px;
  padding: 7px 15px;
  transition: 0.4s;
  margin: 0px;
}
#sendTextButton:hover {
  background-color: #1160c7;
}

button {
  padding: 3px 5px;
  margin: 4px 0px;
  border: 3px solid transparent;
  border-radius: 4px;
  text-transform: capitalize;
  color: aliceblue;
  background-color: #1976ee;
  transition: 0.4s ease;
}
.activeUser {
  background-color: #31df21;
  position: relative;
  border-left: 3px solid #ffeb3b;
}
.addTofriend {
  display: none;
}
.Friend:hover .addTofriend {
  display: block;
  background-color: rgb(77, 74, 74);
}
.senderName {
  padding: 4px 6px;
  color: black;
  margin-right: 3px;
}
.msgCSS {
  margin: 12px 0px;
}

footer a {
  color: white;
}
.active {
  color: #ff4b13;
  scale: 1.2;
  border-bottom: 4px solid white;
  border-radius: 4px;
}
