* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  --backgroundColor: #323232;
  --button: #323232;
  --tweet: #252525;
  --littleBlue: #314258;
  --littleTeal: #125e50;
}
.landing_page {
  background-color: #f0f2f5;
  height: 97vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4%;
  flex-wrap: wrap;
  padding: 1%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-content: center;
}
/* @media only screen and (max-width: 600px) {
   .landing_page{
   }
  } */
.MainContainer {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.landing_page > div:nth-of-type(1) {
  padding: 2%;
  text-align: center;
}
header {
  padding: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header > button {
  margin: 4px;
}
.landing_page > div:nth-of-type(1) > h1 {
  font-size: 3rem;
  color: #1976ee;
}
.landing_page > div:nth-of-type(2) {
  background: white;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.landing_page > div:nth-of-type(2) > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}
.landing_page > div:nth-of-type(2) > button {
  color: white;
  border: none;
  border-radius: 6px;
  padding: 7px 12px;
  background-color: #42b72a;
}
.landing_page > div:nth-of-type(2) > form > input {
  border-radius: 6px;
  padding: 7px 12px;
  border: none;
  background-color: rgb(216, 207, 207);
}
.landing_page > div:nth-of-type(2) > form > button {
  background-color: #1976ee;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 7px 8px;
}
.landing_page > div:nth-of-type(2) > form > button:hover {
  background-color: #155dbb;
}
.landing_page > div:nth-of-type(2) > button:hover {
  background-color: #23830f;
}
.landing_page > div:nth-of-type(2) a {
  text-decoration: none;
  color: white;
}
.landing_page > div:nth-of-type(2) a:hover {
  text-decoration: underline;
}

footer a {
  transition: 0.2s ease;
  border-bottom: 4px solid rgba(255, 255, 255, 0);
  border-radius: 4px;
}
footer a:hover {
  border-bottom: 4px solid white;
  border-radius: 4px;
}
.Message {
  height: inherit;
  background-color: #252525;
  overflow-y: scroll;
  position: relative;
}
.Message .modal {
  position: absolute;
  top: 0px;
  background-color: #444141;
  width: 100%;
  padding: 15px;
  color: whitesmoke;
}
.friends .friends-list {
  padding: 10px 0px;
}
.friends .friends-list li {
  background: #363636;
  padding: 10px;
  margin: 10px 14px;
  border-radius: 6px;
  list-style: none;
  color: whitesmoke;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #8c8c8d;
  border: 3px solid transparent;
  border-radius: 10px;
}
